.sign-up-container{
    background-color: #525d6c0f;

}
.sign-in-container{
    background-color: #525d6c0f;

}

.create-account-btn{
    background-color: antiquewhite;
    width: 10px;;
}
.Register-Form{
    /* box-shadow: 0px 0px 400px -31px #525d6c65; */
    align-items: center;
    padding: 2rem;
    background-color: #f5f5f6;
}
.userType-selection-signUp{
    background: #27374D;
}
.sign-up-user{
    background: #27374D;
}
.user-type-selection{
    margin-bottom: 30px;
    border: none;
    box-shadow: #525d6ca4 0px 2px 10px;
    padding: 1rem;
}
.sign-up-agency{
    background: #27374D;

}